html {
  font-size: 15px;
}

.widget_paris_bg {
  background-image: url("widget_paris/Light source_wdgt_prs.png");
  background-size: 100% 100%;
  font-family: 'Lato',sans-serif;
  font-size: 1rem;
  font-weight: 300;
  width: 53.33rem;
  height: 40rem;
  color: white;
  margin: auto;
}

.widget_paris {
  background-image: url("widget_paris/Paris_wdgt_prs.png");
  background-size: 100% 100%;
  position: relative;
  width: 46.4rem;
  height: 29rem;
  left: 3.73rem;
  top: 4.6rem;
}

.widget_paris_sidebar {
  height: 7.2rem;
  width: 100%;
  position: absolute;
  bottom: 0rem;
}

.widget_paris_sidebar > .layout {
  width: 81%;
  height: 100%;
  margin: 0rem auto;
  /*border: 1px solid green;*/
}

.widget_paris_sidebar .layout button {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  margin: auto 0rem;
  height: 2.66rem;
  background: none;
  border: none;
}

.widget_paris_sidebar > .layout button:focus {
  outline: none;
}

.widget_paris_sidebar_list_predictions {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin: 0rem 0rem 0rem 1.6rem;
  padding: 0rem;
  /*border: 1px solid yellow;*/
}

.widget_paris_sidebar_list_predictions > li {
  float: left;
  height: 5.4rem;
  width: 8.53rem;
  margin: 0.86rem 0rem;
  box-sizing: border-box;
  padding: 0rem;
  border-right: 1px solid #9c9695;
  /*border: 1px solid white;*/
}

.widget_paris_sidebar_list_predictions > li:last-child {
  border: none;
}

.widget_paris_sidebar_list_predictions > li > span:last-child {
  position: absolute;
  bottom: 0.66rem;
  margin-left: -0.66rem;
}

.widget_paris_sidebar_list_predictions > li > img {
  margin-top: 0.33rem;
}

.widget_paris_weather_infobar {
  position: absolute;
  top: 5.33rem;
  right: 4.66rem;
  width: auto;
  /*border: 1px solid black;*/
}

.widget_paris_weather_infobar::after {
  content: "";
  clear: both;
  display: table;
}

.widget_paris_date {
  float: left;
  width: auto;
  text-align: center;
  line-height: 0.5em;
  /*border:1px solid yellow;*/
}

.widget_paris_about_weather{
  float: left;
  width: auto;
  /*border: 1px solid green;*/
}

.widget_paris_span_day_of_week {
  font-size: 2em;
  line-height: 1.3em;
}

.widget_paris_span_date {
  font-size: 0.93em;

}

.widget_paris_span_temp {
  font-size: 6.13em;
  line-height: 0.8em;
  font-weight: 900;
}

.widget_paris_span_location {
  font-size: 1.46em;
  padding-left: 0.33em;
  line-height: 2em;
}

.widget_paris_span_wind_speed {
  font-size: 2em;
  font-weight: 700;
  padding-left: 0.33em;
  line-height: 1.5em;
}

.widget_paris_span_unit {
  font-size: 0.86em;
  font-weight:700;
}
