html {
  font-size: 15px;
}

.widget_paris_bg {
  background-image: url("widget_paris/Light source_wdgt_prs.png");
  background-size: 100% 100%;
  font-family: 'Lato',sans-serif;
  font-size: 1rem;
  font-weight: 300;
  width: 53.33rem;
  height: 40rem;
  color: white;
  margin: auto;
}

.widget_paris {
  background-image: url("widget_paris/paris.png");
  background-size: 100% 100%;
  position: relative;
  width: 46.4rem;
  height: 29rem;
  left: 3.73rem;
  top: 4.6rem;
}

.widget_paris_sidebar {
  background: rgba(0,0,0,0.3);
  height: 7.2rem;
  width: 100%;
  position: absolute;
  bottom: 0rem;
}

.widget_paris_sidebar > .layout {
  width: 81%;
  height: 100%;
  margin: 0rem auto;
  /*border: 1px solid green;*/
}

.widget_paris_sidebar button {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  margin: auto 0rem;
  border: none;
}

.widget_paris_sidebar  button:focus {
  outline: none;
}

.widget_paris_sidebar_list_predictions {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin:0px 0px 0px 24px;/*отступаем от картинки слева
  всегда строго на её ширину + обнуляем отступы списка*/
  padding: 0rem;
  /*border: 1px solid yellow;*/
}

.widget_paris_sidebar_list_predictions > li {
  float: left;
  height: 5.4rem;
  width: 8.53rem;
  margin: 0.86rem 0rem;
  box-sizing: border-box;
  padding: 0rem;
  border-right: 1px solid #9c9695;
  /*border: 1px solid white;*/
}

.widget_paris_sidebar_list_predictions > li:last-child {
  border: none;
}

.widget_paris_sidebar_list_predictions > li > span:last-child {
  position: absolute;
  bottom: 0.66rem;
  margin-left: -0.66rem;
}

.widget_paris_weather_infobar {
  position: absolute;
  top: 5.33rem;
  right: 4.66rem;
  width: auto;
  /*border: 1px solid black;*/
}

.widget_paris_weather_infobar::after {
  content: "";
  clear: both;
  display: table;
}

.widget_paris_date {
  float: left;
  width: auto;
  text-align: center;
  line-height: 0.5em;
  /*border:1px solid yellow;*/
}

.widget_paris_about_weather{
  float: left;
  width: auto;
  /*border: 1px solid green;*/
}

.widget_paris_button_prev {
  background: none;
  background-image: url("widget_paris/Back_wdgt_prs.png");
  background-size: 100% 100%;
  height: 1.26rem;
  width: 0.73rem;
}

.widget_paris_button_next {
  background: none;
  background-image: url("widget_paris/Next_wdgt_prs.png");
  background-size: 100% 100%;
  height: 1.26rem;
  width: 0.8rem;
}

.icon_lp {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0.33rem auto 0rem auto;
}

.rain {
  background-image: url("widget_paris/Rain_wdgt_prs.png");
  height: 2.53rem;
  width: 2.4rem;
}

.cloudy {
  background-image: url("widget_paris/Cloudy_wdgt_prs.png");
  height: 1.67rem;
  width: 2.73rem;
}

.sunny {
  background-image: url("widget_paris/Sunny_wdgt_prs.png");
  height: 2.33rem;
  width: 2.46rem;
}

.overcast {
  background-image: url("widget_paris/Overcast_wdgt_prs.png");
  height: 2.33rem;
  width: 3.2rem;
}

.icon_wind {
  display: inline-block;
  background-image: url("widget_paris/Wind_wdgt_prs.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.86rem;
  height: 1.8rem;

}

.widget_paris_span_day_of_week {
  font-size: 2em;
  line-height: 1.3em;
}

.widget_paris_span_date {
  font-size: 0.93em;

}

.widget_paris_span_temp {
  font-size: 6.13em;
  line-height: 0.8em;
  font-weight: 900;
}

.widget_paris_span_location {
  font-size: 1.46em;
  padding-left: 0.33em;
  line-height: 2em;
}

.widget_paris_span_wind_speed {
  font-size: 2em;
  font-weight: 700;
  padding-left: 0.33em;
  line-height: 1.5em;
}

.widget_paris_span_unit {
  font-size: 0.86em;
  font-weight:700;
}

@media screen and (max-width: 600px) {

  .widget_paris_bg {
    width: 100%;
  }

  .widget_paris {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    top: 10%;
    left: 0;
  }


  .widget_paris_weather_infobar {
    position: relative;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    float: right;

  }

  .widget_paris_date{
    float: none;
    display: block;
    margin: 1em auto;


  }

  .widget_paris_about_weather{
    float: none;
  }

  .widget_paris_sidebar {
    width: 8rem;
    float:left;
    height: 100%;
    position: relative;
    padding: 5% 0rem;
    box-sizing: border-box;
  }

  .widget_paris_sidebar > .layout {
    height: 90%;
    margin: 0rem auto;

  }

  .widget_paris_sidebar_list_predictions {
    width: 6rem;
    display: block;
    margin: 1rem auto;
  }

  .widget_paris_sidebar_list_predictions  li {
    float: none;
    margin: 0;
    height: 5.53rem;
    width: 6rem;
    border-right: none;
    border-bottom: 1px solid white;
  }

  .widget_paris_sidebar_list_predictions  li >span:last-child {
    position: relative;
    bottom:0;
    margin:0;
  }

  .widget_paris_sidebar   button {
    position: relative;
    display: block;
    margin: 0rem auto;
    transform: rotate(90deg);
  }

}
